
.header {
	display:flex;
	justify-content:center;
	align-items: center;
	
}
.nav{
	display:flex;
	 flex-direction: column;
}
.header header_picture, .header h1{
	margin:55px;
}
@media screen and (max-width: 480px) {
.nav{
 flex-direction: row;
}
.nav_links{
	width:20%;
}
.child a{
	display: block;
	 flex-direction: column;
}

